/* Author: Madison Chase
   All images and information was provided by:
   Griffin, G. (2015, September) Greg Griffin Surfboards. 
*/    

.container{
  margin: auto;
  width:600px;
  height:400px;
  overflow:hidden;
  position:relative;

}
.photo{
  position:absolute;
  animation:round 20s infinite;
  opacity:0;
}
@keyframes round{   
  25%{opacity:1;}
  40%{opacity:0;}
} 

img:nth-child(5){animation-delay:0s;}
img:nth-child(4){animation-delay:4s;}
img:nth-child(3){animation-delay:8s;}
img:nth-child(2){animation-delay:12s;}
img:nth-child(1){animation-delay:16s;}


/*Headers*/
h1 {
    color: black;
    font-family: 'Verdana', serif;
    letter-spacing: 5px;
    font-size: .9em;
}
h2 {
    color: #000000;
    font-family: 'Verdana', sans-serif;
    letter-spacing: 3px;
    font-size: 1.4em;
    font-style: italic;
}

h3 {
    color: grey;
    font-family: 'Verdana', sans-serif;
    letter-spacing: 3px;
    font-size: 1em;
    font-style: italic;
    
}

/* Horizontal Rule */
hr {
    background-color: brown;
    height: 4px;
    
}

/*Paragraph*/
p {
    color:black;
    font-family: 'Verdana', sans-serif;
    letter-spacing: 2px;
    font-size: .8em;
}

/* List style */
li {
    color: black;
    font-family: 'Verdana', sans-serif;
    letter-spacing: 2px;
    font-size: .8em;
    list-style-position: inside;
}

 

/*Site border*/
*, *:before, *:after{
  box-sizing: border-box;
  color: peru;
  padding: 0;
  margin: 0;
  font-family: 'Verdana', sans-serif;
}

/*Navigation*/

nav{
    position: relative;
    margin-left: auto;
    margin-right:auto;
    width: 100%;
    text-align: center;
}

nav li {
    font-size: .9em;
}
nav ul{
    list-style: none;
    position: relative;
    margin-left:auto;
    margin-right: auto;
    display: inline-table;
}
nav ul li{
    float: left;
}

nav ul li:hover{
    background: peru;
}
nav ul li:hover > ul{
    display: block;
}
nav ul li{
    float: left;
}
nav ul li a{
    display: block; 
    padding: 10px 10px;
    color: white; 
    font-size: .7em;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
}
nav ul ul{
    display: none;
    background: black;
    position: absolute; 
    top: 100%;
}
nav ul ul li{
    position: relative;
    }

/* Table */

table {
    width: 80%;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}


/* Content */	
#wrapper {
   
    margin-left: auto;
    margin-right: auto;
    width: 100%;
        min-width: 850px;
    min-height: 400px;
    background-color: black;
    box-shadow: 5px 5px 5px #828282;
}

#content {
	padding: 25px;
	width: 100%;
        min-width:900px;
        height: 50%;
        min-height:400px;
	margin-left: auto;
        margin-right: auto;
        background-color: white;

}

#center {
    text-align: center;
}

#container {
    width: 60%;
    min-width: 500px;
    height: 350px;
    margin: 0px auto;
    overflow-y:scroll;
    
}
/* Footer ID's */

#footer h1{
	color: #d7ceb2;
	text-shadow: 3px 3px 0px #2c2e38, 5px 5px 0px #5c5f72;
	font: 30px 'Times', serif;
	letter-spacing: 20px;
	text-align: center;
	padding: 10px;
}

#footer p{
    color:peru;
    font-family: 'Verdana', sans-serif;
    letter-spacing: 2px;
    font-size: .8em;
}
#footer {
    text-align:center;
}

/*Text Wraps */

.Textwrap {
    float: right;
    margin: 2%;
    font-family: 'Verdana', sans-serif;
    text-align: center;
}

.Textwrapleft {
    float: left;
    margin-left: 100px;
    margin-top: 25px;
}


.Textwrapcontact {
    float:right;
    margin: 2%;
       text-align:center;
}

.Textwrapcontainer {
    float:right;
    margin: 10px;
}

.column {
    -webkit-column-count: 2;
    -webkit-column-gap: 30px;
    -webkit-column-width: 110px;
    -moz-column-count: 2;
    -moz-column-gap: 30px;
    column-count: 2;
    column-gap: 5px;
    width: 30%;
    min-width: 30%;
}

dl.gallery dt {
	width: 75px;
}
dl.gallery dd {
        float:right;
	opacity: 0;
	position: absolute;
	top: 10%;
	margin-left:35%;
        margin-right:50%;
}
dl.gallery dt:hover + dd, dl.gallery dt:focus + dd {
		opacity: 1;
}

